<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
<title>Giới thiệu về bootstrap</title>
<style>
    *{
		margin: 0;
		padding: 0;
	}
	img{
		width: 100%;
	}

	.container{
		width: 1000px;
		margin: 0 auto;
		padding: 30px 0px;
		background-color: #F1FCD6;
	}
	h1 {
        font: 200 60px/1.2 'Merienda One', Helvetica, sans-serif;
        color: rgba(0,0,0,0.7);
        text-shadow: 3px 3px 3px #fff;
    }
	.decription{
		width: 945px;
		height: 50px;
		border: 1px solid lightgray;
		border-left: 4px solid red;
		border-radius: 4px;
		padding: 25px;

		background-color: #FFDADB;
	}
	.list_mt{
		padding: 10px;
		padding-left: 30px;
		line-height: 25px;
	}
	button{
		width: 180px;
		height: 30px;
		display: inline-block;
		background-color: red;
		border: 1px solid red;
		border-radius: 6px;
	}
	a{
		text-decoration: none;
		font-size: 20px;
		color: white;
	}

	 #ad_right{
		position: fixed;
		bottom: 0;
		right: 0;
	}
	#exit{
		text-align: right;
		font-size: 12px;
	}
	#exit a{
		text-decoration: none;
		padding: 2px 4px;
		color: red;
	}
	#conten{
		border: 1px solid #C0483C;
	}
	#look{
		display: none;
		text-align: right;
		font-size: 12px;
	}
	#look a{
		text-decoration: none;
		padding: 2px 4px;
		color: green;
	}
	.tv{
		width: 250px;
		height: 280px;
		background-color: green;
		border-radius: 5px;
		padding: 15px;
	}
	</style>
</head>

<body>
<div class="container">
    	<h1 style="color: green; text-align: center" id="dautrang">GIỚI THIỆU VỀ KHÓA HỌC BOOTSTRAP</h1><br>
    	<img src="imagine/logo5.jpg" width="100%" height="400" ><br>
    	<p class="decription">Bootstrap là một framework HTML, CSS, và JavaScript cho phép thiết kế phát triên responsive web mobile. Nếu bạn chưa hiểu về responsive web mobile bạn có thể xem bài viết của tôi ở đây để hiểu hơn về nó "Khác nhau cơ bản giữa mobile web và Responsive Web Design".</p><br>
    	<hr><br>

    	<h3 style="font-size: 16px; padding-left: 15px">Tại sao bạn nên sử dụng Bootstrap?</h3>
    	<p style="padding-left: 15px">Những điểm thuận lợi khi bản sử dụng bootstrap:<br>
        Rất dễ để sử dụng: Nó đơn giản vì nó được base trên HTML, CSS và Javascript chỉ cẩn có kiến thức cơ bản về 3 cái đó là có thể sử dụng bootstrap tốt.<br>
        Tính năng Responsive: Bootstrap’s xây dựng sẵn reponsive css trên các thiết bị phones, tablets, và desktops.<br>
        Mobile: Trong Bootstrap 3 mobile-first styles là một phần của core framework.<br>
        Tương thích với trình duyệt: Nó tương thích với tất cả các trình duyệt (Chrome, Firefox, Internet Explorer, Safari, and Opera) nhưng lưu ý vì em IE vẫn rất hãm với IE phiên bản cũ vì thế việc IE9 hay IE8 đổ xuống không support là chuyện bình thường. Các bạn có dùng nên luy ý điểm này theo như mình dùng làm dự án thì nó support tuyệt vời trên IE10 đổ lên nhé, thấp nhất có lẽ là IE9 thôi còn IE8 thì không nên xài nhé.</p><br>
    	<p style="padding-left: 15px; color: red">Để tìm hiểu sâu hơn hãy đăng kí tham gia khóa học cùng với chúng tôi! Rất hân hạnh được gặp mặt các bạn vào: </p><br>
    	<table style="font-size: 16px; border: 1px solid white; background-color: #00882D; color: white ">
   	                               <th style="border: 1px solid white; width: 100px">Stt

   	                               </th>
   	                               <th style="border: 1px solid white; width: 300px">Khóa học

   	                               </th>
   	                               <th style="border: 1px solid white; width: 300px">Giá tiền

   	                               </th>
   	                               <th style="border: 1px solid white; width: 300px">Thời gian học

   	                               </th>
   	                               <th style="border: 1px solid white; width: 300px">ngày bắt đầu

   	                               </th>
   	                               <tr>
   	                               	  <td style="border: 1px solid white; width: 100px; text-align: center">1</td>
   	                               	  <td style="border: 1px solid white; width: 300px; text-align: center">Bootstrap (8 tuần)</td>
   	                               	  <td style="border: 1px solid white; width: 100px; text-align: center">1.500.000đ( giảm 20% đối với học viên cũ )</td>
   	                               	  <td style="border: 1px solid white; width: 100px; text-align: center">thư 3-5-7(7h-10h tối)</td>
   	                               	  <td style="border: 1px solid white; width: 100px; text-align: center">22-12-2018</td>
   	                               </tr>
   	                               <tr>
   	                               	  <td style="border: 1px solid white; width: 100px; text-align: center">2</td>
   	                               	  <td style="border: 1px solid white; width: 300px; text-align: center">Bootstrap (8 tuần)</td>
   	                               	  <td style="border: 1px solid white; width: 100px; text-align: center">1.500.000đ( giảm 20% đối với học viên cũ )</td>
   	                               	  <td style="border: 1px solid white; width: 100px; text-align: center">thư 3-5-5(7h-10h tối)</td>
   	                               	  <td style="border: 1px solid white; width: 100px; text-align: center">20-12-2018</td>
   	                               </tr>
   	                               <tr>
   	                               	  <td style="border: 1px solid white; width: 100px; text-align: center">3</td>
   	                               	  <td style="border: 1px solid white; width: 300px; text-align: center">Bootstap (8 tuần)</td>
   	                               	  <td style="border: 1px solid white; width: 100px; text-align: center">1.500.000đ( giảm 20% đối với học viên cũ )</td>
   	                               	  <td style="border: 1px solid white; width: 100px; text-align: center">thư 2-4-6(7h-10h sáng)</td>
   	                               	  <td style="border: 1px solid white; width: 100px; text-align: center">25-12-2018</td>
   	                               </tr>
   		    	              </table><br>
   		    	              <span style="padding-left: 50px; padding-right: 50px">
   		    	              	  <button><a href="http://localhost:8888">Trang chủ</a></button></span>
                                  <button onClick="return dang_ky();"><a href="http://localhost:8888/dangki">Đăng ký</a></button>
   		 <script>
	            function dang_ky(){
					

				}
	</script>



    </div>
    <div id="ad_right" >
      <div id="exit"><a href="#" onClick="hide()">Ẩn tư vấn[X]</a></div>
      <div id="conten">
      	 <div class="tv">
      	 	<form action="#">
							<p style="color: white">Chào bạn! hãy đăng ký tham gia khóa học cùng chúng tôi.</p><br>
							<p style="color: white">Bạn cần tư vấn gì không?</p>
                            <p style="color: white">Hãy gửi tin nhắn tới chúng tôi để được tư vấn.</p><br>

                         	<br>
							 <textarea rows="5" cols="30" placeholder=" Mời bạn nhập thắc mắc..." id="thacmac" style="padding: 5px; border-radius: 5px"></textarea><br><br>

                         	<span style="padding-left: 25px">
                         	     <button style="color: red; background-color: white; width: 80%; height: 30px; border-radius: 6px" onClick="nop_tv()" id="sub1">Submit</button>
                         	</span>
                  </form>
      	 </div>
      </div>
      <div id="look"><a href="#" onClick="blook()">Bạn cần tư vấn</a></div>
   </div>
   <script>
     function hide(){
		 document.getElementById('exit').style.display="none";
		 document.getElementById('conten').style.display="none";
		 document.getElementById('look').style.display="block";
	 }
	function blook(){
		document.getElementById('exit').style.display="block";
		 document.getElementById('conten').style.display="block";
		 document.getElementById('look').style.display="none";
	}
	</script>
</body>
</html>
