<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
<title>Giới thiệu về Javascript</title>
<style>
    *{
		margin: 0;
		padding: 0;
	}
	img{
		width: 100%;
	}

	.container{
		width: 1000px;
		margin: 0 auto;
		padding: 30px 0px;
		background-color: #F1FCD6;
	}
	h1 {
        font: 200 60px/1.2 'Merienda One', Helvetica, sans-serif;
        color: rgba(0,0,0,0.7);
        text-shadow: 3px 3px 3px #fff;
    }
	.decription{
		width: 945px;
		height: 50px;
		border: 1px solid lightgray;
		border-left: 4px solid red;
		border-radius: 4px;
		padding: 25px;

		background-color: #FFDADB;
	}
	.list_mt{
		padding: 10px;
		padding-left: 30px;
		line-height: 25px;
	}
	button{
		width: 180px;
		height: 30px;
		display: inline-block;
		background-color: red;
		border: 1px solid red;
		border-radius: 6px;
	}
	a{
		text-decoration: none;
		font-size: 20px;
		color: white;
	}

	 #ad_right{
		position: fixed;
		bottom: 0;
		right: 0;
	}
	#exit{
		text-align: right;
		font-size: 12px;
	}
	#exit a{
		text-decoration: none;
		padding: 2px 4px;
		color: red;
	}
	#conten{
		border: 1px solid #C0483C;
	}
	#look{
		display: none;
		text-align: right;
		font-size: 12px;
	}
	#look a{
		text-decoration: none;
		padding: 2px 4px;
		color: green;
	}
	.tv{
		width: 250px;
		height: 280px;
		background-color: green;
		border-radius: 5px;
		padding: 15px;
	}
	</style>
</head>

<body>
<div class="container">
    	<h1 style="color: green; text-align: center" id="dautrang">GIỚI THIỆU VỀ KHÓA HỌC JS</h1><br>
    	<img src="imagine/logo4.jpg" width="100%" height="400" ><br>
    	<p class="decription">JavaScript là một ngôn ngữ lập trình đa nền tảng (cross-platform), ngôn ngữ lập trình kịch bản, hướng đối tượng. JavaScript là một ngôn ngữ nhỏ và nhẹ (small and lightweight). Khi nằm bên trong một môi trường (host environment), JavaScript có thể kết nối tới các object của môi trường đó và cung cấp các cách quản lý chúng (object).</p><br>
    	<hr><br>
    	<p style="padding-left: 15px">JavaScript chứa các thư viện tiêu chuẩn cho các object, ví dụ như:  Array, Date, và Math, và các yếu tố cốt lõi của ngôn ngữ lập trình như: toán tử (operators), cấu trúc điều khiển (control structures), và câu lệnh. JavaScript có thể được mở rộng cho nhiều mục đích bằng việc bổ sung thêm các object; ví dụ:</p>
    	<ul type="disc" class="list_mt">
    		<li>Client-side JavaScript - JavaScript phía máy khách, JavaScript được mở rộng bằng cách cung cấp các object để quản lý trình duyệt và Document Object Model (DOM)  của nó. Ví dụ, phần mở rộng phía máy khách cho phép một ứng dụng tác động tới các yếu tố trên một trang HTML và phản hồi giống các tác động của người dùng như click chuột, nhập form, và chuyển trang.</li>
    		<li>Server-side JavaScript - JavaScript phía Server, JavaScript được mở rộng bằng cách cung cấp thêm các đối tượng cần thiết để để chạy JavaScript trên máy chủ. Ví dụ, phần mở rộng phía server này cho phép ứng dụng kết nối với cơ sở dữ liệu (database), cung cấp thông tin một cách liên tục từ một yêu cầu tới phần khác của ứng dụng, hoặc thực hiện thao tác với các tập tin trên máy chủ.</li>


    	</ul>
    	<p style="padding-left: 15px; color: red">Để tìm hiểu sâu hơn hãy đăng kí tham gia khóa học cùng với chúng tôi! Rất hân hạnh được gặp mặt các bạn vào: </p><br>
    	<table style="font-size: 16px; border: 1px solid white; background-color: #00882D; color: white ">
   	                               <th style="border: 1px solid white; width: 100px">Stt

   	                               </th>
   	                               <th style="border: 1px solid white; width: 300px">Khóa học

   	                               </th>
   	                               <th style="border: 1px solid white; width: 300px">Giá tiền

   	                               </th>
   	                               <th style="border: 1px solid white; width: 300px">Thời gian học

   	                               </th>
   	                               <th style="border: 1px solid white; width: 300px">ngày bắt đầu

   	                               </th>
   	                               <tr>
   	                               	  <td style="border: 1px solid white; width: 100px; text-align: center">1</td>
   	                               	  <td style="border: 1px solid white; width: 300px; text-align: center">Javascript cơ bản(12 tuần)</td>
   	                               	  <td style="border: 1px solid white; width: 100px; text-align: center">3.000.000đ( giảm 20% đối với học viên cũ )</td>
   	                               	  <td style="border: 1px solid white; width: 100px; text-align: center">thư 3-5-7(7h-10h tối)</td>
   	                               	  <td style="border: 1px solid white; width: 100px; text-align: center">22-12-2018</td>
   	                               </tr>
   	                               <tr>
   	                               	  <td style="border: 1px solid white; width: 100px; text-align: center">2</td>
   	                               	  <td style="border: 1px solid white; width: 300px; text-align: center">Javascript cơ bản(12 tuần)</td>
   	                               	  <td style="border: 1px solid white; width: 100px; text-align: center">3.000.000đ( giảm 20% đối với học viên cũ )</td>
   	                               	  <td style="border: 1px solid white; width: 100px; text-align: center">thư 3-5-5(7h-10h tối)</td>
   	                               	  <td style="border: 1px solid white; width: 100px; text-align: center">20-12-2018</td>
   	                               </tr>
   	                               <tr>
   	                               	  <td style="border: 1px solid white; width: 100px; text-align: center">3</td>
   	                               	  <td style="border: 1px solid white; width: 300px; text-align: center">Javascript cơ bản(12 tuần)</td>
   	                               	  <td style="border: 1px solid white; width: 100px; text-align: center">3.000.000đ( giảm 20% đối với học viên cũ )</td>
   	                               	  <td style="border: 1px solid white; width: 100px; text-align: center">thư 2-4-6(7h-10h sáng)</td>
   	                               	  <td style="border: 1px solid white; width: 100px; text-align: center">25-12-2018</td>
   	                               </tr>
   		    	              </table><br>
   		    	              <span style="padding-left: 50px; padding-right: 50px">
   		    	              	  <button><a href="http://localhost:8888">Trang chủ</a></button></span>
                                  <button onClick="return dang_ky();"><a href="http://localhost:8888/dangki">Đăng ký</a></button>
   		 <script>
	            function dang_ky(){
					

				}
	</script>



    </div>
    <div id="ad_right" >
      <div id="exit"><a href="#" onClick="hide()">Ẩn tư vấn[X]</a></div>
      <div id="conten">
      	 <div class="tv">
      	 	<form action="#">
							<p style="color: white">Chào bạn! hãy đăng ký tham gia khóa học cùng chúng tôi.</p><br>
							<p style="color: white">Bạn cần tư vấn gì không?</p>
                            <p style="color: white">Hãy gửi tin nhắn tới chúng tôi để được tư vấn.</p><br>

                         	<br>
							 <textarea rows="5" cols="30" placeholder=" Mời bạn nhập thắc mắc..." id="thacmac" style="padding: 5px; border-radius: 5px"></textarea><br><br>

                         	<span style="padding-left: 25px">
                         	     <button style="color: red; background-color: white; width: 80%; height: 30px; border-radius: 6px" onClick="nop_tv()" id="sub1">Submit</button>
                         	</span>
                  </form>
      	 </div>
      </div>
      <div id="look"><a href="#" onClick="blook()">Bạn cần tư vấn</a></div>
   </div>
   <script>
     function hide(){
		 document.getElementById('exit').style.display="none";
		 document.getElementById('conten').style.display="none";
		 document.getElementById('look').style.display="block";
	 }
	function blook(){
		document.getElementById('exit').style.display="block";
		 document.getElementById('conten').style.display="block";
		 document.getElementById('look').style.display="none";
	}
	</script>
</body>
</html>
