<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
    <title>kết quả tìm kiếm HTML</title>
    <style media="screen">
       #dstim{
         line-height: 30px;
         display: block;
         list-style-type: none;
       }
       #dstim li a{
          font-size: 25px;
          color: blue;
          text-decoration: none;
       }
    </style>

  </head>
  <body>
    <ul id="dstim">
       <li><a href="http://localhost:8888/gt_html">Khóa học HTML</a></li>
       <li><a href="https://vi.wikipedia.org/wiki/HTML">wikipedia HTML</a><br>
        HTML (tiếng Anh, viết tắt cho HyperText Markup Language, hay là "Ngôn ngữ Đánh dấu Siêu văn bản") là một ngôn ngữ
         đánh dấu được thiết kế ra để tạo nên các trang web với các mẩu thông tin được trình bày trên World Wide Web...
       </li>
       <li><a href="http://hocwebchuan.com/reference/tag/html5/">Tổng hợp các thẻ trong html5</a></li>
       <li><a href="https://www.w3schools.com/html/default.asp">W3schools nơi học lập trình web</a></li>
       <li><a href="https://freetuts.net/hoc-html">freetuts học lập trình web</a></li>
    </ul>
  </body>
</html>
