<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
    <title>kết quả tìm kiếm NodeJS</title>
    <style media="screen">
       #dstim{
         line-height: 30px;
         display: block;
         list-style-type: none;
       }
       #dstim li a{
          font-size: 25px;
          color: blue;
          text-decoration: none;
       }
    </style>

  </head>
  <body>
    <ul id="dstim">
       <li><a href="http://localhost:8888/gt_nodejs">Khóa học lập trình nodejs</a></li>
       <li><a href="https://vi.wikipedia.org/wiki/Node.js">wikipedia NodeJS</a><br>
          Node.js là một hệ thống phần mềm được thiết kế để viết các ứng dụng internet có khả năng mở rộng, đặc biệt là máy chủ web....
       </li>
       <li><a href="https://nodejs.org/en/">Download and install nodejs</a></li>
    </ul>
  </body>
</html>
