<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
    <title>kết quả tìm kiếm BOOTSTRAP</title>
    <style media="screen">
       #dstim{
         line-height: 30px;
         display: block;
         list-style-type: none;
       }
       #dstim li a{
          font-size: 25px;
          color: blue;
          text-decoration: none;
       }
    </style>

  </head>
  <body>
    <ul id="dstim">
       <li><a href="http://localhost:8888/gt_bt">Khóa học BOOTSTRAP</a></li>
       <li><a href="https://en.wikipedia.org/wiki/Bootstrap_(front-end_framework)">wikipedia Boostrap</a><br>

       </li>
       <li><a href="http://getbootstrap.com.vn/getting-started/">Download and template</a></li>
       <li><a href="https://viblo.asia/p/tu-can-ban-den-nang-cao-ve-responsive-web-design-rwd-phan-3-924lJYJ0ZPM">responsive</a></li>
       <li><a href="https://www.w3schools.com/jquery/default.asp">W3schools nơi học lập trình web</a></li>
       <li><a href="https://freetuts.net/hoc-jquery">freetuts học lập trình web</a></li>
    </ul>
  </body>
</html>
