<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
    <title>kết quả tìm kiếm AJAX</title>
    <style media="screen">
       #dstim{
         line-height: 30px;
         display: block;
         list-style-type: none;
       }
       #dstim li a{
          font-size: 25px;
          color: blue;
          text-decoration: none;
       }
    </style>

  </head>
  <body>
    <ul id="dstim">
       <li><a href="http://localhost:8888/gt_aj">Khóa học AJAX</a></li>
       <li><a href="https://vi.wikipedia.org/wiki/Ajax_(l%E1%BA%ADp_tr%C3%ACnh)">wikipedia AJAX</a><br>

       </li>
       <li><a href="https://viblo.asia/p/jquery-ajax-va-kien-thuc-co-ban-4dbZNxny5YM">jquery ajax và kiến thức cơ bản</a></li>
       
       <li><a href="https://www.w3schools.com/jquery/default.asp">W3schools nơi học lập trình web</a></li>
       <li><a href="https://freetuts.net/hoc-jquery">freetuts học lập trình web</a></li>
    </ul>
  </body>
</html>
